html, body {
	background-color: #768F5A;
	overflow: hidden;
}

@font-face {
	font-family: 'GameFont';
	font-size: 8px;
	src: url("public/game_font.ttf");
}

* {
	font-family: 'GameFont';
	line-height: 30px;
	color: #353535;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	touch-action: manipulation;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

input[type=text], input[type=password] { /* Fixes Safari issues */
	-webkit-touch-callout: text;
    -webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

a:link {
    color: #353535;
	text-decoration: none;
}
a:visited {
    color: #353535;
}
a:hover {
    color: #167ac6;
	text-decoration: underline;
}
a:active {
	color: #167ac6;
	text-decoration: underline;
}

input:focus {
    outline: none;
}

#hoverDisplay {
	display: none;
	position: absolute;
	width: 300px;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 10px;
	pointer-events: none;
}

.hoverTitle {
	margin-top: -5px;
	vertical-align: top;
	color: #fff;
	font-size: 25px;
}

.hoverInfo {
	vertical-align: top;
	display: inline-block;
	margin-left: 10px;
}

.hoverDescLight {
	margin-top: -5px;
	color: rgba(255,255,255,0.4);
	font-size: 20px;
}

.hoverDescdark {
	margin-top: -5px;
	color: rgba(0,0,0,0.4);
	font-size: 20px;
}

.hoverImg {
	vertical-align: top;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 70px;
	width: 70px;
	-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#mainMenuContainer {
 /* DELETE FROM HERE*/ display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    /* TO HERE */
  text-align: center;
	z-index: 10;
	position: absolute;
	width: 1050px;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) scale(1);
	-webkit-font-smoothing: subpixel-antialiased;
	filter: blur(0);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}

.mainMenuSub {
	display: inline-block;
	vertical-align: top;
}

.menuCard {
	width: 300px;
	height: auto;
	padding: 10px;
	background-color: #fff;
	-moz-box-shadow: 0px 7px #c2c2c2;
	-webkit-box-shadow: 0px 7px #c2c2c2;
	box-shadow: 0px 7px #c2c2c2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 5px;
	margin-bottom: 18px;
	-webkit-overflow-scrolling: touch;
}

#gameName {
	pointer-events: none;
	color: #fff;
	font-size: 200px;
	margin-bottom: 62px;
}

#roundTimerMenu {
	/* display: none; */
	position: absolute;
	left: 10px;
	top: 10px;
	color: #fff;
	font-size: 30px;
}

@supports(padding: max(0px)) {
	#roundTimerMenu {
		left: max(10px, env(safe-area-inset-left));
	}
}

#playerCard {
	position: relative;
	padding-bottom: 0px;
}

#adCard {
	height: 250px !important;
}

#settingsContainer {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: right;
	font-size: 30px;
	color: #fff;
}

@supports(padding: max(0px)) {
	#settingsContainer {
		right: max(10px, env(safe-area-inset-right));
	}
}

.settingsIcon {
	display: inline-block;
	cursor: pointer;
}

#soundSetting {
	cursor: pointer;
}

.menuButton {
	cursor: pointer;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	width: 100%;
	font-size: 25px;
	font-weight: bold;
	background-color: #353535;
	padding: 5px;
}

.menuButton:hover {
	opacity: 0.85;
}

.infoBack {
	/* display: none; */
}

.infoHeader {
	padding-bottom: 5px;
	font-size: 24px;
	font-weight: bold;
}

.infoText {
	color: #808080;
	font-size: 20px;
	font-weight: bold;
}

.menuSelector {
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
}

.menuSelector:hover {
	background-color: rgba(0, 0, 0, 0.2);
	padding-left: 5px;
}

.selectedMenuSelector {
	cursor: default;
	color: #4B4B4B;
	font-size: 20px;
	font-weight: bold;
}

.subMenuSelector {
	color: #808080;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

.subMenuSelector:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

#downloadButtonContainer {
	display: block;
	text-align: center;
	padding-bottom: 0;
	margin-top: 14px;
}

#downloadButtonContainer.cordova {
	display: none;
}

#mobileDownloadButtonContainer {
	display: none;
	text-align: center;
	padding-bottom: 0;
	margin-top: 14px;
}

#mobileDownloadButtonContainer.cordova {
	display: none;
}

.downloadBadge {
	margin: 0 6px 0 6px;
}

.downloadBadge img {
	height: 40px;
}

#mobileDownloadButtonContainer .downloadBadge img {
	height: 60px;
}

#shareContainer {
	position: absolute;
	bottom: 60px;
	left: 10px;
	color: #fff;
	font-size: 30px;
}

.shareText {
	cursor: pointer;
	color: #167ac6;
}

.shareText:hover {
	text-decoration: underline;
}

#shareLink {
	display: none; /* Only shows on Cordova */
	position: absolute;
	top: 66px;
	right: 10px;
	text-align: right;
}

#shareLink * {
	color: lightgrey;
	font-size: 20px;
}

#createContainer {
	z-index: 10;
	font-weight: bold;
	padding: 10px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 22px;
	-webkit-border-radius: 0 3px 0 0;
	-moz-border-radius: 0 3px 0 0;
	border-radius: 0 3px 0 0;
	background-color: #fff;
}

#linksContainer {
	z-index: 10;
	font-weight: bold;
	padding: 10px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 22px;
	-webkit-border-radius: 3px 0 0 0;
	-moz-border-radius: 3px 0 0 0;
	border-radius: 3px 0 0 0;
	background-color: #fff;
}

@supports(padding: max(0px)) {
	#linksContainer {
		padding-left: max(10px, env(safe-area-inset-left));
		padding-right: max(10px, env(safe-area-inset-right));
		padding-bottom: max(10px, env(safe-area-inset-bottom));
	}
}

#createContainerMobile {
	display: none;
}

#darkener {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
}

#loadingContainer {
  display: none; /* REMOVE later when the whole system works */
  width: 100%;
	z-index: 15;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(0, -50%);
}

#loadingText {
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	color: #fff;
}

#loadingError {
	touch-action: initial;
	-webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
	user-select: initial;
	resize: none;

	width: 256px;
	height: 256px;
	font-family: \"Lucida Console\", \"Courier New\", monospace;
	color: lightgrey;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	margin-top: 24px;
	overflow-wrap: break-word;
	text-align: left;
	overflow-y: scroll;
}

#loadingSubtext {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	margin-top: 24px;
}

#reloadButton {
	width: 120px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#nameInputParent {
	position: relative;
	height: 39px;
}

#nameInput {
	position: absolute;
	left: 0;
	width: 70%;
	top: 0;
	height: 100%;
	bottom: 0;
	margin: 0;
	border: none;
	outline: none;
	text-align: center;
	padding: 5px;
	font-size: 22px;
	font-weight: bold;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #d9d9d9;
}

#goButton {
	position: absolute;
    right: 0;
    top: 0;
	bottom: 0;
	width: calc(30% - 10px);
}

.accInput {
	margin-bottom: 10px;
	width: 100%;
	border: none;
	outline: none;
	padding: 5px;
	font-size: 22px;
	text-align: left;
	font-weight: bold;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #d9d9d9;
}

.accButton {
	text-align: center;
	display: inline-block;
	font-size: 22px;
	padding: 5px;
}

#accResp {
	font-size: 21px;
	margin-bottom: 5px;
	color: #808080;
}

.accItem {
	color: #808080;
	font-size: 21px;
}

#mainCanvas {
    background: #4488ff;
	
	cursor: url("/web/20181215232039im_/https://foes.io/images/cursor.png") 17 17, default;
	position: absolute;
	width: 100%;
	height: 100%;
	image-rendering: optimizeSpeed;
  	image-rendering: -moz-crisp-edges;
  	image-rendering: -webkit-optimize-contrast;
  	image-rendering: -o-crisp-edges;
  	image-rendering: pixelated;
  	-ms-interpolation-mode: nearest-neighbor;
}

#spectateContainer {
	display: none;
	pointer-events: none;
}

#spectateText {
	text-align: center;
	position: absolute;
	line-height: normal;
	bottom: 30px;
	width: 100%;
}

#endButtonHolder {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

@supports(padding: max(0px)) {
	#endButtonHolder {
		bottom: max(20px, env(safe-area-inset-bottom));
		right: max(20px, env(safe-area-inset-right));
	}
}

.endButton {
	display: inline-block;
	cursor: pointer;
	pointer-events: all;
	padding: 12px;
	font-size: 35px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
}

#returnButton:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

#roundInfo {
	position: absolute;
	bottom: 20px;
	left: 18px;
	line-height: normal;
}

@supports(padding: max(0px)) {
	#roundInfo {
		bottom: max(20px, env(safe-area-inset-bottom));
		left: max(18px, env(safe-area-inset-left));
	}
}

#tokenCount {
	margin-left: 10px;
	display: inline-block;
	color: rgba(255, 255, 255, 0.4);
	font-size: 40px;
}

#rankCount {
	display: inline-block;
	color: #fff;
	font-size: 120px;
}

#uiContainer {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

#sharedUI {
	/* display: none; */
}

#minimap {
	pointer-events: none;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 120px;
	height: 120px;
	background-color: rgba(0, 0, 0, 0.2);
}

#borderTimer {
	color: #fff;
	font-size: 30px;
	text-align: left;
	pointer-events: none;
	position: absolute;
	top: 150px;
	left: 20px;
}

#voiceDisplay {
	/* display: none; */
	position: absolute;
	top: 20px;
	left: 150px;
}

#infoDisplay {
	text-align: left;
	/* display: none; */
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	color: #fff;
	font-size: 30px;
	top: 20px;
	left: 160px;
}

.infoDSub {
	color: rgba(255,255,255,0.4);
	font-size: 25px;
}

#killTextCont {
	position: absolute;
	line-height: normal;
	top: 60px;
	width: 100%;
	text-align: center;
	color: #fff;
}

#killText {
	color: #fff;
}

#killInfo {
	margin-top: 40px;
	color: rgba(255,255,255,0.5);
}

#staminaDisplay {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

#staminaHolder {
	width: 400px;
	display: inline-block;
	height: 25px;
	background-color: rgba(0, 0, 0, 0.2);
}

.effectIconG {
	margin: 5px;
	display: inline-block;
}

.pTimer {
	font-size: 20px;
	color: #fff;
}

.effectIcon {
	width: 60px;
	height: 60px;
}

#effectsList {
	margin-bottom: 1px;
}

#roundTimerDisplay {
	font-size: 40px;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 25px;
	color: #fff;
}

#matchOverText {
	margin-top: 15px;
	color: #fff;
	font-size: 40px;
}

#matchOverContainer {
	position: absolute;
	top: 18px;
	width: 100%;
	text-align: center;
}

#inGameAd {
	pointer-events: all;
	padding: 5px;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.25);
}

#deathMessage {
	display: none;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.25);
	width: 100%;
	line-height: normal;
	position: absolute;
	padding: 0px;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	pointer-events: none;
}

#gameOverMessage {
	display: none;
	font-size: 180px;
	color: #fff;
	width: 100%;
	line-height: normal;
	position: absolute;
	padding: 0px;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	pointer-events: none;
}

#ammoDisplay {
	background-color: rgba(0,0,0,0.2);
	position: absolute;
	bottom: 20px;
	right: 20px;
	padding: 12px;
	font-size: 35px;
	color: #fff;
}

#interactButton {
	position: absolute;
	width: 270px;
	bottom: 88px;
	right: 20px;
	text-align: center;
	line-height: 50px;
	font-size: 35px;
	pointer-events: all;
}

#weaponDisplay {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.weaponItem {
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	width: 65px;
	height: 65px;
	background-color: rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.activeWpn {
	width: 75px;
	height: 75px;
}

#playerCount {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 12px;
	font-size: 35px;
	color: #fff;
	display: inline-block;
}

#killCount {
	display: inline-block;
	margin-right: 20px;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 12px;
	font-size: 35px;
	color: #fff;
}

#topMenuContainer {
	position: absolute;
	pointer-events: none;
	top: 24px;
	right: 20px;
}

#vignette {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

/* MOBILE */
@media only screen and (max-width: 1024px) {
	/* Basic Elements */
	#loadingText {
		font-size: 40px;
	}

	#loadingSubtext {
		font-size: 30px;
	}

	#gameName {
		font-size: 120px;
	}

	#adCard {
		visibility: hidden !important;
	}

	#adParent {
		display: none;
		visibility: none;
	}

	/* Buttons */
	.infoBack {
		display: block;
		text-align: center;
	}

	#loadingContainer {
		height: 60px;
	}

	.menuCard {
		width: 450px;
		padding: 20px;
	}
	
	.menuCard > * { /* Makes buttons taller */
		line-height: 55px;
	}

	#nameInputParent {
		height: 55px;
	}

	#goButton {
		line-height: 60px;
	}

	#buttonCard > .menuButton:nth-child(even) {
		margin-right: 10px;
	}

	#buttonCard > .menuButton {
		display: inline-block;
		width: calc(49.5% - 5px);
	}

	/* Submenu Toggle */
	#downloadButtonContainer {
		display: none;
	}

	#mobileDownloadButtonContainer {
		display: block;
		text-align: center;
		margin-top: 16px;
		margin-bottom: -6px;
	}

	#infoCardParent:not(.submenuShowing) {
		display: none;
	}
	#infoCardParent.submenuShowing {
		display: inline-block;
	}

	#buttonCardParent.submenuShowing {
		display: none;
	}

	/* More info */
	#shareContainer, #createContainer {
		display: none !important;
	}

	#shareLink {
		width: 100%;
		left: 0;
		right: 0;
		top: initial;
		bottom: 40px;
		text-align: center
	}

	#shareLink * {
		font-size: 14px;
		line-height: 20px;
		display: inline-block;
	}

	#linksContainer {
		font-size: 16px;
		left: 0;
		border-radius: 0;
		padding: 4px;
		text-align: center;
	}

	@supports(padding: max(0px)) {
		#linksContainer {
			padding-left: max(4px, env(safe-area-inset-left));
			padding-right: max(4px, env(safe-area-inset-right));
			padding-bottom: max(4px, env(safe-area-inset-bottom));
		}
	}

	#createContainerMobile {
		display: inherit;
	}

	/* Game menu */
	#voiceDisplay {
		top: 10px;
		left: 100px;
	}

	@supports(padding: max(0px)) {
		#voiceDisplay {
			left: max(100px, calc(env(safe-area-inset-left) + 100px));
		}
	}

	#weaponDisplay {
		bottom: 1px;
		left: 5px;
	}

	@supports(padding: max(0px)) {
		#weaponDisplay {
			left: max(5px, env(safe-area-inset-left));
		}
	}

	.weaponItem {
		margin-left: 5px;
		margin-right: 5px;
		width: 50px;
		height: 50px;
	}

	.activeWpn {
		width: 60px;
		height: 60px;
	}

	#ammoDisplay {
		bottom: 10px;
		right: 10px;
	}

	@supports(padding: max(0px)) {
		#ammoDisplay {
			right: max(10px, env(safe-area-inset-right));
		}
	}

	#interactButton {
		width: 210px;
		line-height: 35px;
		font-size: 25px;
		bottom: 74px;
		right: 10px;
	}

	@supports(padding: max(0px)) {
		#interactButton {
			right: max(10px, env(safe-area-inset-right));
		}
	}

	#staminaDisplay {
		bottom: 1px;
	}

	@supports(padding: max(0px)) {
		#staminaDisplay {
			bottom: max(1px, env(safe-area-inset-bottom));
		}
	}

	#staminaHolder {
		width: 200px;
		border-radius: 4px;
	}

	#infoDisplay {
		top: 10px;
		left: 100px;
		font-size: 20px;
		padding: 5px;
	}

	@supports(padding: max(0px)) {
		#infoDisplay {
			left: max(100px, calc(env(safe-area-inset-left) + 100px));
		}
	}
	
	.infoDSub {
		font-size: 20px;
		line-height: 20px;
	}

	#killText {
		font-size: 50px;
	}

	#killInfo {
		font-size: 25px;
		margin-top: 20px;
	}

	/* General UI */
	#roundTimerDisplay {
		font-size: 25px;
		top: 10px;
	}

	/* Shared UI */
	#minimap {
		left: 10px;
		top: 10px;
		width: 80px;
		height: 80px;
	}

	@supports(padding: max(0px)) {
		#minimap {
			left: max(10px, env(safe-area-inset-left));
		}
	}

	#borderTimer {
		top: 95px;
		left: 17px;
		font-size: 24px;
	}

	@supports(padding: max(0px)) {
		#borderTimer {
			left: max(17px, calc(env(safe-area-inset-left) + 17px));
		}
	}

	#topMenuContainer {
		top: 10px;
		right: 10px;
	}

	@supports(padding: max(0px)) {
		#topMenuContainer {
			right: max(10px, env(safe-area-inset-right));
		}
	}

	#killCount, #playerCount {
		padding: 5px;
		font-size: 20px;
	}

	#killCount {
		margin-right: 10px;
	}

	/* Spectating */
	#spectateText {
		display: none !important;
	}

	#deadMessage {
		z-index: 1000;
		background-color: rgba(0, 0, 0, 0.6);
	}

	#matchOverContainer {
		top: 10px;
	}

	#matchOverText {
		font-size: 20px;
		margin-top: 5px;
	}

	#gameOverMessage {
		font-size: 80px !important;
	}

	#roundInfo {
		width: 100%;
		left: inherit;
		text-align: center;
		bottom: calc(50% - 85px);
	}

	#rankCount {
		font-size: 50px;
	}

	#tokenCount {
		font-size: 30px;
	}

	#endButtonHolder {
		width: 100%;
		right: initial;
		text-align: center;
		bottom: 10px;
	}

	#playAgainButton {
		margin-right: 5px !important;
	}
}

